@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(200px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-100px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 1.5s ease-out forwards; 
}

.animate-fade-in-down {
  animation: fadeInDown 3s ease-out forwards;
}

.animate-fade-in {
  animation: fadeIn 1.5s ease-out forwards;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
  
  .animate-bounce {
    animation: bounce 3s ease-in-out;
  }
  

  /* CreateUser */
  
  .move-from-left {
    animation: moveFromLeft 1s ease-in-out forwards;
  }
  
  @keyframes moveFromLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }
  